* {
  font-family: "Times New Roman", Times, serif;
}
.App {
  text-align: center;
  background-color: #282c34;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: peru;
  transition: left 300ms ease-out;
}
.sidebar.active {
  left: 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style: none;
}
.sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}

.hamburger {
  border: none;
  outline: 0;
  width: 50px;
  position: absolute;
  right: -50px;
  background-color: peru;
  cursor: pointer;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #fff;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .hamburger:before {
  transform: translateY(12px) rotate(135deg);
}
.sidebar.active .hamburger::after {
  transform: translateY(-12px) rotate(-135deg);
}
.sidebar.active .hamburger div {
  transform: scale(0);
}

form {
  width: auto;
}

input {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.input-enquiry {
  color: #fff;
  margin: 30px;
}

#input-enquiry-label {
  margin: 10px;
}

#input-content {
  height: 80px;
}

#contact-button {
  padding: 10px;
  margin: 40px;
  background-color: peru;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#contact-button:hover {
  color: peru;
  background-color: white;
}

h1 {
  color: white;
}

img {
  width: 600px;
}

#chart {
  width: 500px;
  height: 500px;
  margin: auto;
}
